
.contact-para{
    font-size: 18px;
    font-weight: 400;
}
.contact{
    padding-top:2rem ;
    padding-bottom: 2rem;


}
.contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-right: 2rem;

}
.contact-heading h2{
    color: #287559;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;

}
.contact-heading h2::before{
    position: absolute;
    top: 50%;
    right: -80px;
    content: '';
    width: 70px;
    height: 2px;
    background-color: #287559;
}
.contact-heading h2::after{
    position: absolute;
    top: 50%;
    left: -80px;
    content: '';
    width: 70px;
    height: 2px;
    background-color: #287559;
}
.containerc{
    max-width: 1170px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.column{
    flex: 0 0 auto;
    width: 50%;
}
.contact-widget{
    margin-bottom: 40px;
    padding-right: 10px;

}

.contact-widget-item{
    overflow: hidden;
    margin-bottom: 40px;

}
.cicon{
    height: 34px;
    width: 56px;
    background-color: #287559;
    border-radius: 50%;
    line-height: 60%;
    text-align: center;
    margin-right: 30px;
    float: left;
}
.cicon i{
    font-size: 24px;
    color: #ffff;
    position: relative;
    top: 3px;

} 
.ctext{
    overflow: hidden;

}
.ctext h4{
    color: #111;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.ctext p{
    font-size: 16px;
    color: #111;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 15px 0;
}
.contact-form{
    text-align: center;
    margin-bottom: 40px;
}
form{
    display: block;
    margin-top: 0em;
}
.mrugank5{
    font-size: 18px;
} 
.formmrug{
    height: 46px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    border-radius: 4px;
    transition: all, .3s;
}
form textarea{
  
    width: 100%;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    resize: none;
    margin-bottom: 9px;
    border-radius: 4px;
    transition: all, .3s;

}
.btn{
    display: inline-block;
    
    font-weight: 500;
    border-radius: 50px;
    padding: 12px 40px 10px;
    text-transform: uppercase;

}
.map{
    margin-bottom: 1.5rem;
    margin-right: 2.5rem;
    flex: 0 0 auto;
    width: 95%;
}
.contact-map iframe{
    width: 95%;

}
@media screen and (max-width:1200px) {
    .containerc{
        max-width: 960px;
    }
    
}
@media screen and (max-width:990px) {
    .containerc{
        max-width: 720px;
    }
    
}
@media screen and (max-width:768px) {
    .container{
        max-width: 540px;
    }
    .column{
        width: 100%;
    }
    
}
@media screen and (max-width:500px) {
    .contact-heading{
      padding-right: 0;
    }
    .contact-heading h2{
        font-size: 22px;
    }
    .contact-heading h2::before{
        right: -60px;
        width: 50px;
    }
    .contact-heading h2::after{
        left: -60px;
        width: 50px;
    }
    
}